<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
      <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <form action="/updatesearch">
            <h3>RECHERCHE ETUDIANT</h3>
            <hr>
            <label for="phn"><b>Numéro de téléphone</b></label>
            <input type="phone" placeholder="Tapez le numéro de téléphone à rechercher" name="phone" id="phone" required>
            
            <br>   <br><br>   <br>
            <button type="submit" class="registerbtn">RECHERCHE ETUDIANT</button>
            <a href="./" style="color:black">RETOUR À LA PAGE D'ACCUEIL</a>
            <br>
            {{#if umesg}}
                <h3>Enregistrement mis à jour!</h3>
            {{/if}}
        {{#if mesg2}}
               <h3>Enregistrement non trouvé</h3>
            {{/if}}
            
        </form>
    </div>
                {{#if mesg1}}
               <div class="container" id="abc">
        <form action="/updatestudent">
            <h3 align="center">MISE À JOUR ÉTUDIANT</h3>
            <hr>
            {{#data}}
            <label for="name">
                <b>Nom d'étudiant</b>
            </label>
            <input type="text" placeholder="Entrez votre nom : " name="name" value="{{name}}" id="name" required>
            <br>
            <br>
            <label for="phn">
                <b>Numéro de téléphone</b>
            </label>
            <input type="phone" placeholder="Entrez le numéro de téléphone : " name="phone" value="{{phoneno}}" id="phone" required readonly>
               <br>   <br>
            <label for="eml-id">
                <b>Identifiant de messagerie</b>
            </label>
            <input type="email" placeholder="Entrez l'identifiant de messagerie : " name="email" value="{{emailid}}" id="email" required readonly>
            <br>   <br>
            <div class="gender_g">
                <strong>Genre</strong>
                <input type="radio" name="gender" id="" value="Male">Homme
                <input type="radio" name="gender" id="" value="Female">Femme
            </div>
            <br>   <br>
            <button type="submit" class="registerbtn">MISE À JOUR ÉTUDIANT</button>
            
            {{/data}}
            
            <a href="./" style="color:black">RETOUR À LA PAGE D'ACCUEIL</a><br>
           
        </form>
    </div>
            {{/if}}
</body>
</html>

